# Compiled
*.elc

# Packaging
.cask/
.eask/
.eldev/
.keg/

# Built distribution
dist/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# created by emacs
elpa/
eln-cache/
transient/

bookmarks
desktop
custom.el
history
eshell/
desktop.lock
.cache/
projects
tramp
auto-save/#!home!favetelinguis!.config!emacs!init.el#
tabsession.el
